<!--  -->
<div class='homeBody'>
    <br/>
    <div class="contentPage" id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col col-md-12" align="left">
                    <hr style="width: 100%; color: #0BAAC6; height: 1px; background-color:#0BAAC6;" />
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="/assets/img//smallWhiteGear.png" alt="Cog4U" />
                    </div>
                    <div>
                        <h2 class="h2font">Sobre nós</h2>
                        <p class="aboutus-text">Somos um grupo que tem por objetivo solucionar necessidades humanas com as tecnologias existentes.</p>
                        <p class="aboutus-text">Utilizando ferramentas open-source, trabalhamos em projetos de compartilhamento de medicamentos, alimentação sustentável entre outros.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="/assets/img//cog4U.png" alt="Cog4U" />
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <img src="/assets/img//smallGearColored.png" alt="Cog4U" />
                                </div>
                                <div class="feature-content">
                                    <h4>Utilizamos cognição</h4>
                                    <p class="aboutus-text">Somos inspirados na cognição para propor nossas soluções através de aquisição de conhecimento, raciocínio, compressensão e classificação.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <img src="/assets/img//smallGearColored.png" alt="Cog4U" />
                                </div>
                                <div class="feature-content">
                                    <h4>Solucionando necessidades humanas</h4>
                                    <p class="aboutus-text">O que fazer com aquele medicamento que você não utilizará e está prestes a vencer? E aquele quantidade de alimento extra que você não irá consumir? Quero compartilhar meu conhecimento sobre algo, mas não sei como... Essas são algumas questões que estamos propostos a resolver.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <img src="/assets/img//smallGearColored.png" alt="Cog4U" />
                                </div>
                                <div class="feature-content">
                                    <h4>Ferramentas open-source</h4>
                                    <p class="aboutus-text">
                                        Na medida do possível, utilizamos ferramentas de desenvolvimento e projetos abertos a comunidade.
                                        <br/><br/><br/><br/>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <div class="contentPage" id="solutions">
        <div class="container">
            <div class="row" align="center">
                <div class="col col-md-12" align="left">
                    <hr style="width: 100%; color: #0BAAC6; height: 1px; background-color:#0BAAC6;" />
                </div>
                <div class="col col-md-12" align="left">
                    <div>
                        <img src="/assets/img//smallWhiteGear.png" alt="Cog4U" />
                    </div>
                    <div>
                        <h2 class="h2font">Soluções</h2>
                    </div>
                </div>            
                <div class="col col-md-4">
                    <img src="/assets/img//cog4Med.png" />
                    <div id="circlebox">
                        <br/>Une o doador do <br/>medicamento com o <br/>receptor, gerando eficiência <br/>e reaproveitamento de medicamentos bons e válidos que seriam descartados.
                        <font class="h2font"><b><h2>Cog4Med</h2></b></font>
                    </div>
                </div>
                <div class="col col-md-4">
                    <img src="/assets/img//cog4Food.png" />
                    <div id="circlebox">
                        <br/><br/><br/>Em breve<br/><br/><br/><br/>
                        <font class="h2font"><b><h2>Cog4Food</h2></b></font>
                    </div>
                </div>
                <div class="col col-md-4">
                    <img src="/assets/img//cog4Education.png" />
                    <div id="circlebox">
                        <br/><br/><br/>Em breve<br/><br/><br/><br/>
                        <font class="h2font"><b><h2>Cog4Education</h2></b></font>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    <br/><br/><br/><br/><br/>

    <div class="contentPage" id="ourclients">
        <div class="container">
            <div class="row" align="center">
                <div class="col col-md-12" align="left">
                    <hr style="width: 100%; color: #0BAAC6; height: 1px; background-color:#0BAAC6;" />
                </div>
                <div class="col col-md-12" align="left">
                    <div>
                        <img src="/assets/img//smallWhiteGear.png" alt="Cog4U" />
                    </div>
                    <div>
                        <h2 class="h2font">Nossos clientes</h2>
                    </div>
                </div> 
                <div class="col col-md-12">
                    <img src="/assets/img//sjtlogo.png" />
                    <div>
                        <font class="h2font"><b><h2>Santuário São Judas Tadeu</h2></b></font>
                    </div>
                </div>                           
            </div>
        </div>
    </div>

    <!--
    <div class="contentPage" id="contact">
        <div class="row">
        <div class="gap-space"></div>
        <footer class="footer-bs">
            <div class="row">
                <div class="col-md-3 footer-brand animated fadeInLeft">
                    <h2>
                        <a href="#" class="footer-brand">Cog4U</a>
                    </h2>
                    <p>Uma aplicação Demo para multi linguagebs em AngularJS.
                                    </p>
                    <p>© 2018 - For Everybody 4Ever</p>
                </div>
                <div class="col-md-3 footer-nav animated fadeInUp">
                    <h4>Menu</h4>
                    <ul>
                        <li>
                            <a href="#">Sobre</a>
                        </li>
                        <li>
                            <a href="#">Contato</a>
                        </li>
                        <li>
                            <a href="#">Termos de Uso</a>
                        </li>
                        <li>
                            <a href="#">Política de Privacidade</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 footer-social animated fadeInDown">
                    <h4>Siga-nos</h4>
                    <ul>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <a href="#">Twitter</a>
                        </li>
                        <li>
                            <a href="#">Instagram</a>
                        </li>
                        <li>
                            <a href="#">RSS</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 footer-ns animated fadeInRight">
                    <h4>Newsletter</h4>
                    <p>Inscreva-se para ficar por dentro</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="seu e-mail">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>-->
</div>